---
layout: page
title: "Home"
---
{% include JB/setup %}

{% for post in paginator.posts %}
  <div class="full">
    <h2 class="entry-title">
      <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </h2>
    <div class="entry-content full-content">
      {{ post.content }}
      <div class="clear"></div>
    </div>
    <p class="by-line">
      <span class="date full-date">
        <abbr class="published" title="{{ post.date }}">{{ post.date | date_to_string }}</abbr>
      </span>
    </p>
    <div class="clear"></div>
  </div>
  <div class="rule"><hr/></div>
{% endfor %}

<div class="pagination">
  <span class="previous">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/blog.html" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}
  </span>
  &nbsp;
  <span class="next">
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %}
  </span>
</div>